page {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-top: 100px;
    color: #323233;
}

/* 搜索 */
.search-wrap{
  width: 750px;
  height: 100px;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
}
.search-input,
.search-mask-input{
  width: 650px;
  height: 70px;
  margin: 15px 20px;
  display: inline-block;
  vertical-align: middle;
  background: #f6f6f6;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 70px;
  color: #cdcdcd;
}
.search-button{
  width: 40px;
  height: 80px;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
}
.search-input-icon,
.search-button-icon{
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}
.search-button-text{
  color: #1E8AE8;
  display: inline-block;
  vertical-align: middle;
}
.search-mask,
.question-mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #fff;
}
.search-input-wrap{
  position: relative;
}
.search-mask-icon{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 30px;
  left: 35px;
}
.search-mask-input{
  text-align: left;
  padding-left: 60px;
  color: #000;
  caret-color: #1E8AE8;
}
.search-mask-cancel{
  font-size: 28px;
  color: #1E8AE8;
}
.search-history{
  width: 1500px;
  color: #999;
  font-size: 28px;
  padding: 20px;
}
.search-history-title{
  color: #323233;
  font-size: 30px;
}
.search-item,
.search-clear-all{
  width: 670px;
  padding: 20px 10px;
  margin-right: 10px;
  border-bottom: 1px solid #f6f6f6;
}
.search-icon-time,
.search-icon-del,
.search-del-all{
  width: 30px;
  height: 30px;
}
.search-icon-time,
.search-icon-del,
.search-item-text,
.search-del-all{
  display: inline-block;
  vertical-align: middle;
}
.search-icon-time,
.search-del-all{
  margin-right: 20px;
}
.search-icon-del{
  float: right;
}
/* 暂时提问style  */
.question-input-wrap{
  margin: 10px auto;
  position: relative; 
}
.question-title-wrap{
  width: 700px;
  height: 60px;
  margin: 0 auto;
  padding: 10px 25px;
  border-bottom: 1px solid #f6f6f6;
  top: 0;
  left: 0;
}
.question-mask-next,
.question-mask-cancel{
  font-size: 28px;
  color: #1E8AE8
}
.question-mask-cancel{
  width: 100px;
  height: 100%;
  float: left;
}
.mask-title{
  width: 60px;
  font-size: 28px;
  font-weight: 600px;
  display: block;
  position: absolute;
  top: 10px;
  left: 345px;
  z-index: 0;
}
.question-mask-next{
  width: 100px;
  height: 100%;
  float: right;
}
.question-mask-input,
.quesion-mask-text{
  max-width: 700px;
  padding: 10px 25px;
  font-size: 28px;
  border-bottom: 1px solid #f6f6f6;
  caret-color: #1E8AE8;
}
.question-mask-input{
  width: 100%;
  height: 50px;
  left: 0;
}
.quesion-mask-text{
  width: 100%;
  mix-width: 600px;
  left:0;
}
.show{
  display: block;
}
.hide{
  display: none;
}
/* 滑块视图容器  */
.market-swiper-wrap{
  width: 750px;
  height: 250px;
}
.market-swiper-img{
  width: 750px;
  height: 250px;
}
/* icon图标列表  */
.market-icon-list{
  background: #fff;
  padding: 20px 0; 
}
.market-icon-item{
  width: 150px;
  display: inline-block;
  text-align: center;
  color: #323233;
  font-size: 24px;
}
.market-icon-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* banner广告  */
.market-ad{
  width: 690px;
  padding: 20px 30px;
  text-align: center;
  background: #fff;
}
.market-ad-img{
  width: 690px;
  height: 230px;
  border-radius: 10px;
}
/* 新闻列表  */
.market-news-list{
  background: #fff;
  margin-top: 20px;
  width: 700px;
  padding: 20px 25px;
}
.market-news-header{
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  color: #323233;
}
.market-news-item{
  width: 700px;
  padding: 20px 0;
  font-size: 28px;
  position: relative;
}
.market-news-icon,
.market-news-time{
  position: absolute;
  top: 25px;
}
.market-news-icon{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  left: 0;
}
.market-news-title{
  width: 540px;
  display: -webkit-box;  
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 28px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-left: 40px;
}
.market-news-time{
  color: #999;
  font-size: 24px;
  width: 70px;
  right: 0;
}
.market-news-footer{
  margin-top: 20px;
}
.market-news-btn,
.market-news-more{
  display: inline-block;
  vertical-align: middle;
}
.market-news-btn{
  width: 250px;
  height: 70px;
  border-radius: 80px;
  color: #e98f36;
  background: #f4ea29;
  text-align: center;
}
.market-news-img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.market-news-text{
  font-size: 24px;
}
.market-news-more{
  color: #1E8AE8;
  font-size: 28px;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}
.market-news-img,
.market-news-text{
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}
/* 私家课列表  */
.market-video-header{
  padding-bottom: 20px;
}
.market-video-icon,
.market-lesson-icon,
.market-book-icon,
.market-guess-icon{
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.market-video-text,
.market-lesson-text,
.market-book-text,
.market-guess-text{
  font-size: 30px;
  color: #323233;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}
.market-video,
.market-part,
.market-lesson,
.market-book,
.market-banner,
.market-guess{
  margin-top: 20px;
  background: #fff;
  padding: 20px 25px;
  width: 700px;
  position: relative;
}
.market-video-item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 28px;
  padding: 20px 0;
}
.market-video-img,
.market-video-area,
.market-video-play{
  display: inline-block;
  vertical-align: middle;
}
.market-video-img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 20px;
}
.market-video-area{
  width: 400px;
}
.market-vidoe-title{
  font-weight: 500;
}
.market-video-info{
  color: #999;
}
.market-video-price{
  color: #dfbe79;
  margin-top: 10px;
}
.market-video-title,
.market-video-info,
.market-video-price{
  display: -webkit-box;  
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.6;
}
.market-video-play{
  width: 120px;
  color: #dfbe79;
  font-size: 24px;
  text-align: center;
  /* margin-top: 40rpx; */
}
.market-play-btn{
  width: 60px;
  height: 60px;
}
.market-vidoe-footer{
  text-align: center;
  color: #1E8AE8;
  font-size: 28px;
  padding: 20px 0;
}
.market-part-left,
.market-part-top,
.market-part-bottom{
  background: #eee;
  border-radius: 10px;
  position: relative;
}
.market-part-left,
.market-part-right{
  display: inline-block;
  vertical-align: middle;
  width: 340px;
  height: 340px;
  font-size: 30px;
  text-align: center;
}
.market-part-left .market-part-title{
  display: inline-block;
  color: #e98f36;
}
.market-part-left .market-part-img{
  width: 200px;
  height: 100px;
}
.market-part-right{
  margin-left: 20px;
}
.market-part-right .market-part-text{
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin-top: 30px;
}
.market-part-right .market-part-img{
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: 20px;
}
.market-part-top,
.market-part-bottom{
  height: 160px;
}
.market-part-bottom{
  margin-top: 20px;
}
.market-part-left .market-part-title{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.market-part-right .market-part-title{
  text-align: left;
}
.market-part-left .market-part-img{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.market-part-tip{
  font-size: 24px;
  text-align: left;
}
.market-part-top .market-part-tip{
  color: #ff6666;
}
.market-part-bottom .market-part-tip{
  color: #999;
}

/* 课程特邀嘉宾 */
.market-lesson-list{
  font-size: 28px;
}
.market-lesson-item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}
.market-lesson-image,
.market-lesson-info{
  display: inline-block;
  vertical-align: top;
}
.market-lesson-image{
  width: 300px;
  height: 190px;
  border-radius: 4px;
}
.market-lesson-info{
  width: 380px;
  margin-left: 20px;
}
.market-lesson-title{
  height: 80px;
}
.market-lesson-nickname{
  font-size: 24px;
  color: #999;
}
.market-lesson-number{
  font-size: 24px;
  color: #ccc;
}
.market-lesson-actprice,
.market-lesson-price{
  display: inline-block;
  vertical-align: middle;
}
.market-lesson-actprice{
  color: #e98f36;
}
.market-lesson-price{
  margin-left: 20px;
  text-decoration: line-through;
  color: #999;
}
.market-lesson-more,
.market-book-more{
  color: #1E8AE8;
  text-align: center;
  margin: 20px 0 0;
}
.market-book-icon{
  width: 30px;
  height: 30px;
}
.market-book-list{
  text-align: center;
  font-size: 28px;
  padding: 20px 0;
}
.market-book-item{
  display: inline-block;
  width: 230px;
  margin: 10px 0;
}
.market-book-img{
  width: 210px;
  height: 240px;
  border-radius: 8px;
}
.market-book-name{
  width: 210px;
  padding: 0 10px;
  display: -webkit-box;  
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 28px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: left;
}
.market-book-actprice,
.market-book-price{
  text-align: left;
  color: #ff6666;
  font-size: 26px;
  display: inline-block;
}
.market-book-price{
  color: #999;
  margin-left: 10px;
  text-decoration: line-through;
}
.market-banner{
  width: 750px;
  height: 20px 0;
}
.market-scroll-view{
  white-space: nowrap;
  display: flex;
}
.market-banner-item{
  display: inline-block;
  margin-left: 20px;
}
.market-banner-img{
  width: 400px;
  height: 150px;
  border-radius: 10px;
}
.last-item{
  margin-right: 20px;
}
.market-guess-item{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  font-size: 28px;
}
.market-guess-info,
.market-guess-img{
  display: inline-block;
  vertical-align: top;
}
.market-guess-title{
   width: 540px;
  display: -webkit-box;  
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 28px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.market-guess-nickname,
.market-guess-number{
  display: inline-block;
  font-size: 26px;
}
.market-guess-nickname{
  color: #999;
}
.market-guess-wrap{
  width: 30px; 
  height: 30px;
  position: relative;
  display: inline-block;
}
.market-info-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
}
.market-icon-best{
  left: 0;
  z-index: 1;
}
.market-icon-auth{
  left: 5px;
}
.market-guess-number{
  color: #ccc;
}
.market-score-item{
  display: inline-block;
  width: 30px;
  height: 30px;
}
.market-guess{
  margin-bottom: 20px;
}
.market-score-item{
  display: inline-block;
  width: 30px;
  height: 30px;
}
.market-guess-price{
  display: inline-block;
  vertical-align: middle;
  color: #ff6666;
  font-size: 26px;
  margin-left: 30px;
  margin-bottom:10px;
}
.market-guess-img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-left: 30px;
}