/**index.wxss**/
page {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

/* 搜索 */
.search-wrap {
  width: 750px;
  height: 100px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.search-button {
  width: 100px;
  height: 80px;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
  margin-left: 20px;
}

.search-button-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.search-button-text {
  color: #1e8ae8;
  display: inline-block;
  vertical-align: middle;
}

.question-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #fff;
}

/* 暂时提问style  */
.question-input-wrap {
  margin: 10px auto;
  position: relative;
}

.question-title-wrap {
  width: 700px;
  height: 60px;
  margin: 0 auto;
  padding: 10px 25px;
  border-bottom: 1px solid #f6f6f6;
  top: 0;
  left: 0;
}

.question-mask-next,
.question-mask-cancel {
  font-size: 28px;
  color: #1e8ae8;
}

.question-mask-cancel {
  width: 100px;
  height: 100%;
  float: left;
}

.mask-title {
  width: 60px;
  font-size: 28px;
  font-weight: 600px;
  display: block;
  position: absolute;
  top: 10px;
  left: 345px;
  z-index: 0;
}

.question-mask-next {
  width: 100px;
  height: 100%;
  float: right;
}

.question-mask-input,
.quesion-mask-text {
  max-width: 700px;
  padding: 10px 25px;
  font-size: 28px;
  border-bottom: 1px solid #f6f6f6;
  caret-color: #1e8ae8;
}

.question-mask-input {
  width: 100%;
  height: 50px;
  left: 0;
}

.quesion-mask-text {
  width: 100%;
  min-width: 600px;
  left: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* tab标题*/
.tab-wrap {
  max-width: 750px;
  background: #f6f6f6;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: -1;
}

.tab-item {
  display: inline-block;
  width: 250px;
  font-size: 28px;
  text-align: center;
  background-color: #fff;
  color: #999;
  padding: 12px 0;
}

.tab-item-active {
  color: #323233;
}

.tab-item-line {
  width: 250px;
  position: absolute;
  left: 250px;
  bottom: 1px;
  border-bottom: 4px solid #323233;
}

/* tabs标签页内容  */
.dragUpdatePage {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.downDragBox {
  width: 100%;
  top: 0px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
}

.upDragBox {
  height: 30vh;
}

.tab-container {
  height: 100vh;
  // overflow: scroll;
  position: absolute;
}

.tab-content {
  max-width: 750px;
  background: #f6f6f6;
  font-size: 28px;
  margin-top: 15px;
}

.tab-content-focus,
.tab-content-recommend,
.tab-content-hot {
  max-width: 750px;
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}

.to-recommend-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 50px auto;
}

.to-recommend-title {
  font-size: 44px;
  color: #cdcdcd;
  font-weight: 500;
  text-align: center;
}

.to-recommend-tip {
  color: #1e8ae8;
  font-size: 32px;
  text-align: center;
  margin: 20px;
}

.load-more {
  color: #cdcdcd;
  text-align: center;
  margin-right: 15px 0;
}

.is-loading {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.category-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.category-title {
  font-size: 28px;
  color: #999;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.recommend-title {
  font-size: 32px;
  margin: 10px 0;
}

.recommend-content {
  max-width: 700px;
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 28px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #666;
  line-height: 1.6;
}

.recommend-footer,
.hot-footer-text {
  margin: 15px 0;
  color: #999;
  font-size: 26px;
}

.tab-content-hot {
  height: 150px;
  margin-bottom: 2px;
}

.hot-index,
.hot-title {
  display: inline-block;
  vertical-align: top;
}

.hot-index,
.hot-title {
  font-size: 34px;
}

.hot-index {
  width: 50px;
  color: #e6da7a;
}

.hot-index-hot {
  color: orangered;
}

.hot-title {
  max-width: 470px;
  display: -webkit-inline-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.6;
  margin-right: 20px;
  margin-left: 10px;
  height: 110px;
}

.hot-image {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.hot-footer-text {
  margin-left: 10px;
}
