/* pages/contentDetail/contentDetail.wxss */
page {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

/* 搜索 */
.search-wrap {
  width: 750px;
  height: 100px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.search-button {
  width: 100px;
  height: 80px;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
  margin-left: 20px;
}

.search-button-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.search-button-text {
  color: #1e8ae8;
  display: inline-block;
  vertical-align: middle;
}

.question-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #fff;
}

/* 暂时提问style  */
.question-input-wrap {
  margin: 10px auto;
  position: relative;
}

.question-title-wrap {
  width: 700px;
  height: 60px;
  margin: 0 auto;
  padding: 10px 25px;
  border-bottom: 1px solid #f6f6f6;
  top: 0;
  left: 0;
}

.question-mask-next,
.question-mask-cancel {
  font-size: 28px;
  color: #1e8ae8;
}

.question-mask-cancel {
  width: 100px;
  height: 100%;
  float: left;
}

.mask-title {
  width: 60px;
  font-size: 28px;
  font-weight: 600px;
  display: block;
  position: absolute;
  top: 10px;
  left: 345px;
  z-index: 0;
}

.question-mask-next {
  width: 100px;
  height: 100%;
  float: right;
}

.question-mask-input,
.quesion-mask-text {
  max-width: 700px;
  padding: 10px 25px;
  font-size: 28px;
  border-bottom: 1px solid #f6f6f6;
  caret-color: #1e8ae8;
}

.question-mask-input {
  width: 100%;
  height: 50px;
  left: 0;
}

.quesion-mask-text {
  width: 100%;
  min-width: 600px;
  left: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* 内容详情页  */
.content-detail {
  margin-top: 100px;
  width: 100%;
  font-size: 28px;
}

.content-detail-title {
  font-size: 32px;
  font-weight: 500;
  width: 700px;
  padding: 20px 25px;
  background: #fff;
}

.content-detail-answer {
  width: 700px;
  padding: 20px 25px;
  background: #fff;
  overflow: hidden;
}

.content-detail-bottom {
  float: right;
  margin-right: 40px;
  margin-top: 100px;
  text-align: center;
  color: #999;
}

.content-detail-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #999;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.content-footer-item {
  display: inline-block;
  width: 24%;
  font-size: 24px;
}

.content-footer-image {
  width: 40px;
  height: 40px;
}
